.legal-notice {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: var(--landing-window-bg);
    background-size: cover;

    .content {
        width: 95%;
        align-self: center;
        line-height: 1.6;
        padding: 30px;
        margin: 0 auto;

        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        p:last-child {
            text-align: center;
            margin-top: 10px;
        }

        ul {
            margin-left: 30px;
        }
    }
}