/* File Upload */

.file-upload > input {
    display: none;
}

.file-upload {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    width: 50px;
    height: var(--input-area-height);
    border: none;
}

.file-upload .icon {
    width: 100%;
    transition: 0.4s ease;
}

.file-upload:hover .icon {
    color: var(--color-blue);
}